/*appointment button in services page*/
.appointment{
    display: flex;
    position: fixed;
    z-index: 3;
    bottom: 2rem;
    right: 0.5rem;
}

.appointment a button{
    font-size: 1.4rem;
    text-decoration: none;
    border-radius: 0.75rem;
    font-family: sans-serif;
    height: 2.5rem;
    width: 16rem;
    background-color: #cccccc;
    cursor: pointer;
    align-self: flex-end;
  }
  .appointment a button:hover{
    background-color: #c7d7e0;;
  }
/*footer for the services page*/
 .serv_footer{
    z-index: 4;
    position: relative;
}

.section
{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
    
}
section form{
    display: block;
    border-radius: 1rem;
    width: 50vw;
    font-size: 1.2rem;
    background-color: #ffffff;
}
/* Style each form group (label and input) */
form .form-group {
    display: flex;
    justify-content: centre;
    margin: 0.75rem;
}

form .form-group label{
    text-align: left;
    margin-left: 1vw;
    width: 20vw;
    font-size: 1.3rem;
}
form .form-group input{
    margin-right: 1vw;
    width: 40vw;
    height: 2rem;
    border-radius: 0.5rem;
    border-width: 0.1rem;
    font-size: 0.9rem;
}

form .form-group select{
    margin-right: 1vw;
    width: 40vw;
    height: 2rem;
    border-radius: 0.5rem;
    font-size: 1rem;
}
form .submit{
    text-align: center;
    margin-bottom: 2vh;
}
form .submit input[type="submit"]{
    font-size: 2.5vw;
    margin: 1rem;
    height: 2rem;
    width: 6rem;
    border-radius: 0.5rem;

}
/*links in the forms*/
.form_link a{
    text-decoration: none;
    margin: 1.2rem;
    
}
/* Change the background color of the submit button when hovered over */
input[type="submit"]:hover {
    background-color:  #c2c2c2;
    cursor: pointer;
}

.table {
    position: relative;
    z-index: 2;
    border: 1px solid #0a0a0a;
    margin-top: 2rem;
    background-color: white;
    margin: auto;
    
}
.table h3{
    text-align: center;
}
table{
    width: 75vw;
    border-collapse: collapse;
}
th {
    border: 1px solid black;
    padding: 2px;
}
td {
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
    font-size: 1rem;
}
.container ul{
    width: 75vw;
}
li{
    text-align: left;
    font-size: 1rem;
    font-family: sans-serif;
}
div h2{
        display: flex;
        justify-content: center;
}
h2{
    display: flex;
    justify-content: center;
}
body {
  margin: 0;
  padding: 0;
  width: 100vw;
}
/* Navigation Bar Styles */
.navbar {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    height: 6rem;
    position: sticky;
    top: 0;
    z-index: 3;
    width: 100vw;
}
 .cont{
    display: none;
    margin-top: 0;
    flex-direction: column;
    position: fixed;
    z-index: 3;
    justify-content: flex-end;
    border: solid #bdbbbb;
    border-width: 1px;
    border-radius: 0.75rem;
    width: 30vw;
    margin-left: 70vw;
    background-color: #ffffff;
    
}

 .cont a{
    
    font-size: 3vh;
    font-family: sans-serif;
    text-decoration: none;
    color: rgb(15, 15, 15);
    padding: 0.75rem;
    
}
.cont a:hover {
    background-color: #ebebeb;
    color: black;
}

#menu_img{
    width: 3rem;
    height: 3rem;
    margin-top: 0.5rem;
    cursor: pointer;
}
.navbar a {
    display: flex;
    flex-grow: 0.2;
    justify-content: center;
    align-items: center;
    color: rgb(15, 15, 15);
    padding-left: 0;
    padding-right: 1rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: sans-serif;
    margin-left: 0%;
}
#logo{
    width: 5rem;
    height: 5rem;
}
/*phone div*/
.phone{
    display: none;
}
.navbar a:hover {
    background-color: #ebebeb;
    color: black;
}

form .form-group textarea{
    margin-right: 1vw;
    width: 40vw;
    border-radius: 0.5rem;
    border-width: 0.1rem;
    font-size: 0.9rem;
}
/* div showing info */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    z-index: 1;
}
.container section {
    flex-basis: 28vw;
    border-radius: 0.5rem;
    margin: 0.3rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.75rem;
    text-align: center;
    background-color: #ffffff;

}
.container section:hover{
    box-shadow: 0 0 0 2px rgba(151, 149, 149, 0.5);
}
.container_intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    z-index: 1;
    margin-top: 0.2rem;
}
.container_intro section {
    flex-basis: 40vw;
    border-radius: 0.5rem;
    margin: 0.3rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.75rem;
    text-align: center;
    background-color: #ffffff;

}
.container_intro section:hover{
    /*border: solid #d8d8d8;
    border-width: 0.2rem;*/
    box-shadow: 0 0 0 2px rgba(151, 149, 149, 0.5);
}
p {
    color: #080808;
    text-align: left;
    font-size: 1rem;
    font-family: sans-serif;
}
.container section p button{
    background-color: #d6d6d6;
    font-size: 2.5vw;
    border: solid #bbb9b9;
    border-radius: 1rem;
    border-width: 1.5px;
    cursor: pointer;
    margin-top: 0.5rem;
    height: 1.5rem;
}
.container section img {
    height: 28vw;
    width: 28vw;
    text-align: center;
}

/*header style*/
h1 {
    font-family: sans-serif; /* Replace with your preferred font */
    font-size: 5vw;
}
/*body*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f0e9e9;
}

/*footer*/
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    z-index: 4;
    background-color: #dfdede;
    margin-top: auto;
    font-size: 1rem;
}
footer section {
    flex-basis: 45%;
    margin-top: 3vh;
    margin-bottom: 2vh;
}

footer section a{
    text-decoration-line: none;
    color: purple;
    cursor: pointer;
}
.footer_sect{
    display: flex;
}
.footer_sect img{
    height: 2.5rem;
    width: 2.5rem;
    margin: 0.1rem;
}
.footer_sect a{
    margin-top: 0.3rem;
    margin-left: 0.2rem;
}
/*container of the slideshow images on home page*/
.slideshow-container {
    width: 100vw;
    position: relative;
    margin: 0%;
    z-index: 2;
  }
  
/* Hide the images by default */
.myslides{
    display: none;
  }

.myslides img{
    object-fit: cover;
    height: 65vh;
    width: 100%;
    opacity: 0.7;
  }
/* elements over the slideshow */
.text {
    font-size: 15px;
    position: absolute;
    bottom: 1rem;
    width: 100%;
    text-align: center;
}
/*search bar*/
  .text .search{
    bottom: 3rem;
    display: flex;
    justify-content: center;
    height: 2.5rem;
    position: relative;
    z-index: 2;

  }
  /* Style the search bar */
.text .search input[type="search"] {
    width: 18rem; 
    border: solid rgb(107, 105, 105);
    border-width: 1px;
    margin-right: 0.2rem;
    border-radius: 0.75rem;
    background-color: #ffffff;
    color: #070707; 
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
}
.text .search input[type="submit"] {
    width: 5rem; 
    border: solid rgb(107, 105, 105);
    border-width: 1px;
    border-radius: 0.75rem;
    background-color: #f3f3f3; 
    color: #070707; 
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
}
.text .search input[type="submit"]:hover{
    background-color: #c7d7e0;;
}
  .text h1{
    margin-bottom: 15vh;
    font-size: 2.5rem;
    color: #3b2828;
  }
  .text a button{
    font-size: 1.4rem;
    text-decoration: none;
    border-radius: 0.75rem;
    font-family: sans-serif;
    height: 2.5rem;
    width: 16rem;
    background-color: #d1d1d1;
    cursor: pointer;
  }
  .text a button:hover{
    background-color: #c7d7e0;;
  }
/*FAQs list*/
.container section ul{
    width: auto;
}


/*view more buttons*/
.container_intro section p button{
    font-size: 0.8rem;
    border: solid #bbb9b9;
    border-radius: 0.5rem;
    border-width: 1.5px;
    cursor: pointer;
}
/* CSS for small devices like portrait phones, less than 768px */
@media only screen and (max-width: 450px) {
/*table data*/
td {
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
    font-size: 0.9rem;
}
li{
    text-align: left;
    font-size: 0.9rem;
    font-family: sans-serif;
}
/*iframe holding map*/
.container_intro section iframe{
    width: 80vw;
    height: 60vh;
}
/*feedback text area*/
form .form-group textarea{
    margin-right: auto;
    margin-left: auto;
    width: 80vw;
    font-size: 0.9rem;
    font-family: sans-serif;
}

/*dropdown menu in booking form*/
form .form-group select{
    width: 50vw;
    height: 1.5rem;
    border-radius: 0.4rem;
    font-size: 0.9rem;
}
/*icons on forms*/
#icon{
    width: 3rem;
    height: 3rem;
    margin-top: 1rem;
}
/*header in the containers*/
.container h4{
    margin-bottom: 1rem;
    margin-top: 0%;
    font-size: 0.9rem;
    text-align: center;
}
/*forms*/
section form{
    border-radius: 0.75rem;
    width: 90vw;
    font-size: 0.9rem;
}
/* Style each form group (label and input) */
form .form-group {
    justify-content: centre;
    margin: 0.5rem;
}
/*form labels*/
form .form-group label{
    margin-left: 1vw;
    margin-right: 1rem;
    width: 20vw;
    font-size: 0.9rem;
}
/*form input fields*/
form .form-group input{
    width: 50vw;
    height: 1.3rem;
    border-radius: 0.4rem;
    border-width: 0.1rem;
    font-size: 0.8rem;
}
/*form submit button*/
form .submit input[type="submit"]{
    font-size: 0.9rem;
    height: 1.6rem;
    width: 5rem;
    border-radius: 0.5rem;
    border-width: 0.1rem;
}
/*links in the forms*/
.form_link a{
    text-decoration: none;
    margin: 0.5rem;
    font-size: 0.85rem;    
}
/*appointment button in services page*/
.appointment{
    bottom: 3rem;
    right: 0%;
}

.appointment a button{
    font-size: 1.1rem;
    border-radius: 0.5rem;
    height: 2.5rem;
    width: 12rem;
}
/*footer section*/
footer section {
        flex-basis: 45%;
        margin-top: 3vh;
        margin-bottom: 2vh;
}
/*footer section containing icons*/
.footer_sect img{
    height: 1.5rem;
    width: 1.5rem;
    margin-bottom: 0.1rem;
}
/*credits section in the footer*/
footer #credits{
    flex-basis: 90%;
}
/*footer*/
footer {
    font-size: 0.9rem;
}
/*view more buttons*/
.container section p button{
    font-size: 0.6rem;
    border: solid #bbb9b9;
    border-radius: 0.4rem;
    border-width: 1.5px;
    cursor: pointer;
    height: 1rem;
}
/*paragraph fontsize*/
p{
    font-size: 0.85rem;
}
.container section img{
    width: 35vw;
    height: 35vw;
}
/*container holding most of the content on the page*/
.container section {
    flex-basis: 35vw;
    margin-left: auto;
}
/*intro container in home page*/
.container_intro section {
    flex-basis: 80vw;
}
/*buttons*/
.container_intro section p button{
    font-size: 0.8rem;
    border: solid #bbb9b9;
    border-radius: 0.5rem;
    border-width: 1.5px;
    cursor: pointer;
    height: 1.5rem;
    background-color: rgb(211, 206, 206);
}
/*header welcome message*/
.text h1{
    bottom: 15vh;
    font-size: 1.5rem;
}
/*search bar*/
.text .search{
    bottom: 0.5vh;
}
/*search bar input */
.text .search input[type="search"] {
    width: 10rem;
    height: 1.75rem;
    border-radius: 0.5rem;
    font-size: 0.9rem;
}
/*search button*/
.text .search input[type="submit"] {
    width: 4rem;
    height: 1.75rem;
    border-radius: 0.5rem;
    font-size: 1rem;
}
/*appointment booking button*/
.text a button{
    font-size: 1.2rem;
    border-radius: 0.5rem;
    height: 2rem;
    width: 13rem;
  }
/*slideshow images*/
.myslides img{
    height: 60vh;
  }
/*side menu*/
.cont{
    border-radius: 0.6rem;
    width: 50vw;
    margin-left: 50vw;
    }
.cont a{
    font-size: 0.9rem;
    padding: 0.5rem;
    }
/*set the logo image image to none*/
#logo{
    width: 2.5rem;
    height: 2.5rem;
    display: none;
}
/*phone div*/
.phone{
    background-color: white;
    padding-top: 0.75rem;
    width: 100vw;
    display: flex;
}
/*logo shown on small devices*/
#phone_logo {
    width: 3rem;
    height: 3rem;
    position: relative;
    z-index: 3;
    padding-left: 0.5rem;
}
/*div above the navigation bar*/
.phone p{
    padding-top: 0.75rem;
    padding-left: 0.75rem;
    font: 1.2rem;
    font-family: sans-serif;
}
/*menu tab*/
#menu_img{
    width: 2.5rem;
    height: 2.5rem;
    margin-top: 0rem;
}
/* Navigation Bar Styles */
.navbar {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    height: 4rem;
    position: sticky;
    top: 0rem;
    z-index: 3;
}
/*navigation bar links*/
.navbar a {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    color: rgb(15, 15, 15);
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    text-decoration: none;
    font-size: 0.9rem;
    font-family: sans-serif;
}
}